  div#tree {
    position: relative;
    width: 90vw;
    height: 90vh;
    overflow: auto;

  }
  
  div.node {
    width: 64px;
    height: 64px;
    line-height: 64px;
    color: #efefef;
    font-family: sans-serif;
    font-size: 0.7em;
    text-align: center;
    border-radius: 50%;
    overflow:visible;
    position: absolute;
  }
  
  div.connector {
    position: absolute;
    background-color: #333;
    z-index: -10;
  }
  
  div.connector.h {
    height: 2px;
    background-color: #ddd;
  }
  
  div.connector.v {
    height: 1px;
    background-color: rgb(74, 74, 74);
    transform-origin: 0 100%;
  }
  
  div[data-level='0'] {
    background-color: rgb(133, 117, 117);
  }
  
  div[data-level='1'],
  div[data-level='-1'] {
    background-color: rgb(126, 173, 212);
  }
  
  div[data-level='2'],
  div[data-level='-2'] {
    background-color: #333;
  }
  