.text-container {
  text-align: center;
  padding-top: 50px; /* Adjusted padding for better visual balance */
  color: white;
  font-size: 1.8rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  color: #b0b0b0;
}

.form-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Added margin bottom for better spacing */
}

.form-input,
.form-input select { /* Apply styles to both input and select */
  padding-left: 5px;
  padding: 10px; /* Added padding for better input field appearance */
  margin-bottom: 20px; /* Added margin bottom for better spacing between inputs */
  background-color: rgba(239, 239, 239, 0.1); /* Semi-transparent background for a modern look */
  border: none;
  border-radius: 5px;
  color: white;
  width: 300px; /* Adjust width to fit content */
  font-size: 1.3rem; /* Increase font size */
}

.form-input input[type="radio"] {
  transform: scale(1.5); /* Increase the size of the radio button */
  margin-right: 5px; /* Add some spacing between the radio button and label text */
}


.form-input:focus,
.form-input select:focus { /* Apply focus styles to both input and select */
  outline: none;
  background-color: rgba(255, 255, 255, 0.3); /* Lighter background when focused */
}

.form-input select:hover { /* Apply hover styles to select */
  background-color: rgba(255, 255, 255, 0.2); /* Slightly lighter background on hover */
}

.form-submit-button {
  font-weight: bold;
  padding: 8px 20px;
  background-color: #ffffff;
  color: #242424;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none; 
}
