.icon-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: absolute;
    top: 100px;
}

.icon {
    width: 32px; 
    height: 32px; 
    margin-top: 12px; 
}