/* main.css */

.person {
    stroke: steelblue;
    stroke-width: 3px;
}

.extendable {
    fill: lightsteelblue;
}

.non-extendable {
    fill: #fff;
}

#tree-here {
    position: absolute;
    top: -720px; /* Ajustez cette valeur selon votre besoin */
    left: 45%; /* Pour le centrer horizontalement */
    transform: translateX(-50%); /* Pour le centrer horizontalement */
    width: 90vw;
    /* overflow: hidden; */
    z-index: -1; /* Assurez-vous que le tree-here est en arrière-plan */
}

.node-label {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.tooltip {
    position: absolute;
    font: 12px sans-serif;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.icon-container {
    position: relative; /* Assurez-vous que les icônes sont positionnées relativement */
    z-index: 0; /* Assurez-vous que les icônes sont au-dessus du contenu du tree-here */
}