/* arbre généalogique */

.person {
    stroke: steelblue;
    stroke-width: 3px;
}

.extendable {
    fill: lightsteelblue;
}

.non-extendable {
    fill: #fff;
}

#tree-here {
    position: absolute;
    top: -720px; 
    left: 45%; 
    transform: translateX(-50%);
    width: 90vw;
    z-index: -1;
}

.node-label {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.tooltip {
    position: absolute;
    font: 12px sans-serif;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}


/* Icones */

.icon-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: absolute;
    top: 100px;
    z-index: 0;
}

.icon {
    width: 32px; 
    height: 32px; 
    margin-top: 12px; 
}


/* Informations personnelles */

.tooltip {
    background-color: rgba(31, 31, 31, 0.831);
    border: none;
    padding: 5px;
}

.tooltip .p {
    line-Height: '0.5';
}